body{
     background-color: rgb(221, 232, 245);
}
#smthing{
    text-align: center;
    font-family: 'times new roman';
    font-size: 18px;
    margin-top: -15px;
}

h1, h2{
    text-align: center;
    font-family: 'times new roman';
}
h3{
    font-family: 'Times New Roman';
    text-align: left;
    margin: 20px;
}

p, li{
    font-family: 'times new roman';
    font-size: 20px;
    text-align: justify;
    margin: 20px;
}

.stars{
    text-align: right;
    color: rgb(228, 161, 205);
}

.thewhut{
    display: flex;
    flex-direction: row-reverse;
    justify-content: center;
    gap: 4rem;
    margin: 4rem 0;
}

.hellokitty{
text-align: left;
color: rgb(228, 161, 205);
}

.haler{
    display: flex;
    flex-direction: row-reverse;
    justify-content: center;
    gap: 4rem;
    margin: 4rem 0;
}

.FavoriteAnimeMovies li{
    text-align: center;
}